.container-header {
  height: 1em;
  width: 10em;
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
}

.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.about {
  height: 2em;
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
